<!DOCTYPE html>
<html>
  <head>
    <title>Quotes Crazy</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Alice|Playfair+Display:900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />

  </head>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Quotes Crazy</a></h1>
      </li>
    </ul>
    <!-- <section class="top-bar-section">
      <ul class="right">

      </ul>
    </section> -->
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
